/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
h1 {
  display: flex !important;
  justify-content: center;
}

h1:nth-child(1) {
margin-top: 20px;
}

th, td {
  text-align: center !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding: 50px;
}
