h1 {
  display: flex!important;
  justify-content: center;
}


.full-width {
  width: 100%;
}

.status {
  font-weight: bold;
}

.success {
  color: green;
}

.fail {
  color: red;
}

.waiting {
  color: orange;
}
