<app-delivery-list-table
  [contentTableData]="contentDataByDeliver"
  [columns]="columnsTableDeliveryByDeliver"
  [isMaintTable]="false"
></app-delivery-list-table>

<app-delivery-list-table
  [contentTableData]="contentDataByDeliver"
  [columns]="columnsTableUnsuccessfully"
  [isMaintTable]="false"
></app-delivery-list-table>

<app-delivery-list-table
  [contentTableData]="contentDataByNeighbourhood"
  [columns]="columnsTableDeliveryByNeighbourhood"
  [isMaintTable]="false"
></app-delivery-list-table>
