<div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="columns" >
  <div>
    <h1>Entregas por Motorista</h1>
    <div  fxLayoutAlign="center center">
      <app-delivery-list-table
        [contentTableData]="contentDataByDeliver"
        [columns]="columnsTableDeliveryByDeliver"
        [isMaintTable]="false"
      ></app-delivery-list-table>
    </div>
  </div>

  <div>
    <h1>Entregas sem Sucesso por Motorista</h1>
    <div fxLayoutAlign="center center">
      <app-delivery-list-table
        [contentTableData]="contentDataByDeliver"
        [columns]="columnsTableUnsuccessfully"
        [isMaintTable]="false"
      ></app-delivery-list-table>
    </div>
  </div>

  <div>
    <h1>Entregas por Bairro</h1>
    <div fxLayoutAlign="center center">
      <app-delivery-list-table
        [contentTableData]="contentDataByNeighbourhood"
        [columns]="columnsTableDeliveryByNeighbourhood"
        [isMaintTable]="false"
      ></app-delivery-list-table>
    </div>
  </div>
</div>
